<h1>Courses You've Added to CourseBacon</h1>
<br/>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Course Title</th>
			<th>Offered by</th>
			<th>Subject</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @current_user_courses.each do |course| %>
			<tr>
					<td><%= link_to truncate(course.title , :length => 40), course_path(course) %></td>
					<td><%= link_to truncate(course.offered_by , :length => 40), course_path(course) %></td>
					<td><%= link_to truncate(course.main_topic , :length => 40), course_path(course) %></td>
				<td>
					<%= link_to 'Edit', edit_course_path(course), :class => 'btn btn-mini' %>
					<%= link_to 'Destroy', course_path(course), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<br />
<br />
<h1>Reviews You've Added to CourseBacon</h1>
<br />
<table class="table table-striped">
	<thead>
		<tr>
			<th>Review</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @current_user_reviews.each do |review| %>
			<tr>
				<td><%= link_to truncate(review.course_review, :length => 65), review_path(review) %></td>

				<td>
					<%= link_to 'Edit', edit_review_path(review), :class => 'btn btn-mini' %>
					<%= link_to 'Destroy', review_path(review), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

