<p>Quick contact info: You can reach me at <b>carlsed (at) g.m.a.i.l.com</b> or at <b>(347) 857-8501</b>.</p>
<br />
<h2>Why CouseBacon?</h2>
<p>
Everyday new online courses are offered and keeping track of them is a nightmare. The main goal of CourseBacon is to help you easily find the best online courses for any given topic you'd like to learn. Right now the main focus is computer science related courses.
</p>
<br />
<h2>Who is behind CouseBacon?</h2>
	<div class="row">
		<div class="span6">
			<p>Hi, my name is Carl and I am the guy behind CourseBacon. 
			<br />
			<br />
			I currently live in Brooklyn, NY, and really enjoy traveling and meeting new people. As a matter of fact, I'd love to hear from you - feel free to shoot me an email at <b>carlsed (at) g.m.a.i.l.com</b> or call me at <b>(347) 857-8501</b>. This is my direct cellphone number. You can also <%= link_to "follow me on Twitter", "http://www.twitter.com/carlsednaoui", :target => "_blank"%>.</p>
			<br />
			<p>Also, if you'd like to help out with CourseBacon please get in touch!</p>
		</div>
		<div class="span2">
			<%= link_to image_tag("carl.png"), "http://www.twitter.com/carlsednaoui", :target => "_blank" %>
		</div>
	</div>
<h2>How is CouseBacon build?</h2>
<p>
CourseBacon is built using <%= link_to "Ruby on Rails", "http://rubyonrails.org/", :target => "_blank"%>, it is hosted on <%= link_to "Heroku", "http://www.heroku.com/", :target => "_blank"%> and uses <%= link_to "github", "http://www.github.com/", :target => "_blank"%> for version control. Being a beginner myself, I used Ryan Bates' <%= link_to "RailsCasts", "http://railscasts.com/", :target => "_blank"%> whenever I was stuck. CourseBacon's is also built using <%= link_to "Twitter Bootstrap", "http://twitter.github.com/bootstrap/", :target => "_blank"%> which makes it dead simple to add CSS styling to your webapps.
</p>
	<br />
	<p>Thank you so much for stopping by and please don't hesitate to reach out - comments, suggestions and constructive criticism welcome.</p>
	<br />

