<h1>Aha, sneaky sneaky you!</h1> 
<h2>Here is a list of cool resources just for you. Enjoy :)</h2>
<br />
<ul>
	<li><%= link_to "http://cssdeck.com/", "http://cssdeck.com/", :target => "_blank" %></li>
	<li><%= link_to "http://www.starbucks.com/static/reference/styleguide/", "http://www.starbucks.com/static/reference/styleguide/", :target => "_blank" %></li>
	<li><%= link_to "http://creativemarket.com/free-goods", "http://creativemarket.com/free-goods", :target => "_blank" %></li>
	<li><%= link_to "https://developer.mozilla.org/en-US/", "https://developer.mozilla.org/en-US/", :target => "_blank" %></li>
	<li><%= link_to "http://rubular.com/", "http://rubular.com/", :target => "_blank" %></li>
	<li><%= link_to "http://www.rubymotion.com/", "http://www.rubymotion.com/", :target => "_blank" %></li>
</ul>
