<% content_for :title, "CouseBacon - Find the best online courses, tutorials and online books for free." %>
<% content_for :description, "Find the best FREE online courses, books and tutorials. Explore our extensive list of reviews of online courses, tutorials and books for free." %>
<h1 class="nice-header-font">Find the best online courses, tutorials and books.</h1>
<br />
<h2 class="nice-header-font">We're here to help you satisfy your learning thirst.</h2>
<br />
<br />
<br />

<div class="row-fluid">
	<div class="span3">
		<%= link_to image_tag("tv.gif", :size => "110x100"), '/courses', :class => 'span2 btn btn-large' %>
		<%= link_to 'Explore Courses', '/courses', :class => 'btn btn-large btn-primary span2' %>
	</div>
	<div class="span3">
		<%= link_to image_tag("ninja.gif"), '/tutorials', :class => 'span2 btn btn-large' %>
		<%= link_to 'Discover Tutorials', '/tutorials', :class => 'btn btn-large btn-info span2' %>
	</div>


	<div class="span3">
		<%= link_to image_tag("book.gif"), '/books', :class => 'span2 btn btn-large' %>
		<%= link_to 'Find E-Books', '/books', :class => 'btn btn-large btn-success span2' %>
	</div>
</div>

<br />
<br />
<br />
<br />
<% if current_user %>
<%= link_to image_tag("cpigs.png", :size => "695x220"), "/dashboard" %>
<% else %>
<%= link_to image_tag("cpigs.png", :size => "695x220"), "/sign-up" %>
<% end %>
