<% content_for :title, "CourseBacon - Find the best online courses, tutorials and online books for free." %>
<% content_for :description, "Find the best free online courses, books and tutorials. Explore our extensive list of reviews of online courses, tutorials and books for free." %>
<h1 class="nice-header-font">Find the best online courses, tutorials and books.</h1>
<br />
<h2 class="nice-header-font" id="user_location_and_time">We're here to help you satisfy your learning thirst.</h2>
<br />
<br />
<br />

<div class="row-fluid">
	<div class="span3">
		<%= link_to image_tag("tv.gif", :size => "110x100"), '/courses', :class => 'span2 btn btn-large' %>
		<%= link_to 'Explore Courses', '/courses', :class => 'btn btn-large btn-primary span2' %>
	</div>
	<div class="span3">
		<%= link_to image_tag("ninja.gif"), '/tutorials', :class => 'span2 btn btn-large' %>
		<%= link_to 'Discover Tutorials', '/tutorials', :class => 'btn btn-large btn-info span2' %>
	</div>


	<div class="span3">
		<%= link_to image_tag("book.gif"), '/books', :class => 'span2 btn btn-large' %>
		<%= link_to 'Find E-Books', '/books', :class => 'btn btn-large btn-success span2' %>
	</div>
</div>

<br />

<div class="top-space">
	<% if current_user %>
		<%= link_to image_tag("cpigs.png", :size => "695x220"), "/dashboard" %>
	<% else %>
		<%= link_to image_tag("cpigs.png", :size => "695x220"), "/sign-up" %>
	<% end %>
</div>

<!-- JS code to get user location is below -->
<script type='text/javascript' src="http://codejoust.github.com/session.js/session-0.4.js"></script>
<!-- JS code to get user location is above -->

<script>
	$(document).ready(function() {
		var currentDate = new Date();

		var msg = "It's " + currentDate.getSimpleTime() + 
		", you're in " +  window.session.location.address.city + 
		", come on - it's time for you to learn something new!";

		document.getElementById('user_location_and_time').innerHTML = msg;
	});


	Date.prototype.getSimpleTime = function() {
		return ( this.getHours()%12 || 12 ) + ':' + ( this.getMinutes()<10 ? '0':'' ) + this.getMinutes() + ( this.getHours()<12 ? 'am':'pm' );
	};
</script>
