<% content_for :title, "Free Online Tutorials - Discover the Best Online Tutorials Today" %>
<% content_for :description, "Explore our extensive list of online programming tutorials today. Learn everything you need to know to complete your current or future programming projects." %>
<h1>Awesome Tutorials? You bet!</h1>
<br />
<table class="table table-striped">
	<thead>
		<tr class="big-table-header">
			<th class="span5"><%= sortable "title", "Tutorial Title" %></th>
			<th class="span2"><%= sortable "offered_by", "Offered by" %></th>
			<th class="span2"><%= sortable "main_topic", "Subject" %></th>
			<% if current_user %>
				<th class="span2"></th>
			<% end %>

		</tr>
	</thead>
	<tbody id='tutorials'>
		    <%= render @tutorials %>
		</tbody>
</table>
<% if current_user %>
	<%= link_to 'Submit a Tutorial', new_tutorial_path, :class => 'btn btn-primary' %>
<% elsif %>
	<%= link_to 'Sign Up to Submit a Tutorial', '/sign-up', :class => 'btn btn-primary' %>
<% end %>
<br />
<br />
<%= paginate @tutorials %>
<br />
