<h1>Tutorials</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tutorials.each do |tutorial| %>
      <tr>
        <td><%= tutorial.id %></td>
        <td><%= link_to tutorial.title, tutorial_path(tutorial) %></td>
        <td><%= tutorial.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_tutorial_path(tutorial), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', tutorial_path(tutorial), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_tutorial_path, :class => 'btn btn-primary' %>
