<h1>Review</h1>

<p>
  <b>Tutorial:</b>
  <%= link_to @tutorial.title, @tutorial %>
</p>

<p>
<b>Tutorial Recommended</b><br>
<% if @tutorial_review.recommended.eql? true%>
Yes
<% else %>
No
<% end %>
</p>


<p>
  <b>Tutorial review</b><br>
  <%= @tutorial_review.review %>
</p>

<div class="form-actions">
  <%= link_to 'Back', tutorial_reviews_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_tutorial_review_path(@tutorial_review), :class => 'btn' %>
  <%= link_to 'Delete', tutorial_review_path(@tutorial_review), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>

<%= link_to "Go Back To Tutorial", @tutorial, :class => "btn btn-primary btn-large" %>
