<% content_for :title, "Online Books for Free - Explore our List of Free Online Books Today" %>
<% content_for :description, "CourseBacon brings you the best online books for free. Visit us today and start learning." %>
<h1>Free online books are only two clicks away</h1>
<br />
<table class="table table-striped">
	<thead>
		<tr class="big-table-header">
			<th class="span1"><%= image_tag("star.png", :size => "20x20") %></th>
			<th class="span5"><%= sortable "title", "Book Title" %></th>
			<th class="span2"><%= sortable "url", "URL" %></th>
			<th class="span2"><%= sortable "main_topic", "Subject" %></th>
			<% if current_user %>
				<th class="span2"></th>
			<% end %>
		</tr>
	</thead>
	<tbody id='books'>
		    <%= render @books %>
		</tbody>
</table>

<% if current_user %>
	<%= link_to 'Submit a Book', new_book_path, :class => 'btn btn-primary' %>
<% elsif %>
	<%= link_to 'Sign Up to Submit a Book', '/sign-up', :class => 'btn btn-primary' %>
<% end %>
<br />
<br />
<%= paginate @books %>
<br />
