<% content_for :title, "#{@book.title} - CourseBacon" %>
<% content_for :description, truncate("#{@book.description}", :length => 150) %>
<br/>
<h1><%= @book.title %></h1>

<br />

<p>
<b>Book topic:</b>
<%= @book.main_topic %>
</p>

<p>
<b>URL:</b>
<a href="<%= @book.url %>" target="_blank"><%= @book.url %></a>
</p>

<p>
<b>Description</b><br>
<% if @book.description.eql? ""%>
	Ohh no, there is no book description in here. That's no bueno!
<% else %>	
	<%= @book.description %>
<% end %>
</p>

<br />

<p>

<p>
<b>Book reviews</b><br>
<% if @book_reviews.eql? []%>
	Sweet Guacamole Batman! No one has reviewed this book yet - why don't you take the leap?
	<br />
	<br/>
	No seriously, why not?
<% else %>
	<ul>
		<% @book_reviews.each do |book_review| %>
			<% if book_review.recommended.eql? true%>
				<div class="alert alert-success"><%= book_review.review %></div>
			<% else %>
				<div class="alert alert-error"><%= book_review.review %></div>
			<% end %>
		<% end %>
	</ul>
<% end %>
</p>

<% if current_user %>
	<%= link_to 'Submit a Book Review', new_book_review_path(:book_id => @book.id, :user_id => current_user.id), :class => "btn btn-primary" %>
<% elsif %>
	<%= link_to 'Submit a Book Review', '/sign-up', :class => 'btn btn-primary' %>
<% end %>

<% if false %>
<!--Show Tweets-->
<% unless @tweets.eql? [] %>
	<div class="top-space tweets">
		<h2><small>People talking about this book:</small></h2>
		<% @tweets.each do |tweet| %>
			<%= link_to image_tag(Twitter.user(tweet.from_user).profile_image_url, :size => "48x48", :title => tweet.tweet_text), "http://www.twitter.com/#{tweet.from_user}/status/#{tweet.tweet_id}", :target => "_blank"%>
		<% end %>
	</div>
<% end %>
<!--Show Tweets-->
<% end %>

<div class="form-actions">
  <%= link_to 'Back', books_path, :class => 'btn'  %>
	<% if @book.user == current_user %>
  <%= link_to 'Edit', edit_book_path(@book), :class => 'btn' %>
  <%= link_to 'Delete', book_path(@book), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
	<% end %>
</div>
<script>
	$(".tweets img[title]").tooltip();
</script>
