<% content_for :title, "Online Resources for Free - Explore our List of Free Online Resources Today" %>
<% content_for :description, "CourseBacon brings you the best online resources for free. Visit us today and start learning." %>
<h1>Free online resources are only two clicks away</h1>
<br />

<% if current_user %>
  <%= link_to 'Submit a Resource', new_resource_path, :class => 'btn btn-primary' %>
<% elsif %>
  <%= link_to 'Sign Up to Submit a Resource', '/sign-up', :class => 'btn btn-primary' %>
<% end %>

<br />
<br />

<table class="table table-striped">
  <thead>
    <tr class="big-table-header">
      <th class="span1"><%= image_tag("star.png", :size => "20x20") %></th>
      <th class="span5"><%= sortable "title", "Resource Title" %></th>
      <th class="span2"><%= sortable "main_topic", "Subject" %></th>
      <th class="span2"><%= sortable "tags", "Tags" %></th>
      <% if current_user %>
        <th class="span2"></th>
      <% end %>
    </tr>
  </thead>
  <tbody id='resources'>
        <%= render @resources %>
    </tbody>
</table>

<br />
<br />
<%= paginate @resources %>
<br />
