<% content_for :title, "#{@resource.title} - CourseBacon" %>
<% content_for :description, truncate("#{@resource.description}", :length => 150) %>
<br/>
<h1><%= @resource.title %></h1>

<br />

<p>
<b>Resource topic:</b>
<%= @resource.resource_type %>
</p>

<p>
<b>URL:</b>
<a href="<%= @resource.url %>" target="_blank"><%= @resource.url %></a>
</p>

<p>
<b>Description</b><br>
<% if @resource.description.eql? ""%>
  Ohh no, there is no resource description in here. That's no bueno!
<% else %>  
  <%= @resource.description %>
<% end %>
</p>

<br />


<!-- 
<%= render "resource_reviews" %>
<%= render "resource_tweets" %>
 -->


<div class="form-actions">
  <%= link_to 'Back', resources_path, :class => 'btn'  %>
  <% if @resource.user == current_user %>
  <%= link_to 'Edit', edit_resource_path(@resource), :class => 'btn' %>
  <%= link_to 'Delete', resource_path(@resource), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <% end %>
</div>
<script>
  $(".tweets img[title]").tooltip();
</script>
