<% content_for :title, "Free Online Programming Courses - Discover Great Online Courses with CourseBacon" %>
<% content_for :description, "CourseBacon brings you the best free online courses at your fingertips. Explore our online courses and start learning today." %>
<h1>Find great online courses below</h1>
<br />
<table class="table table-striped">
	<thead>
		<tr class="big-table-header">
			<th class="span5"><%= sortable "title", "Course Title" %></th>
			<th class="span2"><%= sortable "offered_by", "Offered by" %></th>
			<th class="span2"><%= sortable "main_topic", "Subject" %></th>
			<% if current_user %>
				<th class="span2"></th>
			<% end %>
		</tr>
	</thead>
	<tbody id='courses'>
		    <%= render @courses %>
		</tbody>
</table>

<% if current_user %>
	<%= link_to 'Submit a Course', new_course_path, :class => 'btn btn-primary' %>
<% elsif %>
	<%= link_to 'Sign Up to Submit a Course', '/sign-up', :class => 'btn btn-primary' %>
<% end %>
<br />
<br />
<%= paginate @courses %>
<br />