<br/>
<h1><%= @course.title %></h1>

<br />

<p>
  <b>Offered by:</b>
  <%= @course.offered_by %>
</p>

<p>
  <b>Course topic:</b>
    <%= @course.main_topic %>
</p>

<p>
  <b>URL:</b>
  <a href="<%= @course.url %>" target="_blank"><%= @course.url %></a>
</p>

<p>
  <b>Description</b><br>
<% if @course.description.eql? ""%>
	N/A
	<% else %>	
  <%= @course.description %>
  <% end %>
</p>

<p>
<b>Reviews</b><br>
<% if @reviews.eql? []%>
	N/A
<% else %>
	<ul>
	<% @reviews.each do |review| %>
		<% if review.course_recommended.eql? true%>
			<div class="alert alert-success"><%= review.course_review %></div>
		<% else %>
			<div class="alert alert-error"><%= review.course_review %></div>
		<% end %>
	<% end %>
	</ul>
<% end %>
</p>

<% if current_user %>
	<%= link_to 'Submit a Course Review', new_review_path(:course_id => @course.id, :user_id => current_user.id), :class => "btn btn-primary" %>
<% elsif %>
	<%= link_to 'Submit a Course Review', '/sign-up', :class => 'btn btn-primary' %>
<% end %>

<div class="form-actions">
  <%= link_to 'Back', courses_path, :class => 'btn'  %>
	<% if @course.user == current_user %>
  <%= link_to 'Edit', edit_course_path(@course), :class => 'btn' %>
  <%= link_to 'Delete', course_path(@course), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
	<% end %>
</div>
