<% content_for :title, "#{@course.title} - CourseBacon" %>
<% content_for :description, truncate("#{@course.description}", :length => 150) %>
<br/>
<h1><%= @course.title %></h1>

<br />

<p>
  <b>Offered by:</b>
  <%= @course.offered_by %>
</p>

<p>
  <b>Course topic:</b>
    <%= @course.main_topic %>
</p>

<p>
  <b>URL:</b>
  <a href="<%= @course.url %>" target="_blank"><%= @course.url %></a>
</p>

<p>
  <b>Description</b><br>
<% if @course.description.eql? ""%>
	Ohh no, there is no course description in here. That's no bueno!
	<% else %>	
  <%= @course.description %>
  <% end %>
</p>

<br />

<p>
<b>Course reviews</b><br>
<% if @course_reviews.eql? []%>
	Sweet Guacamole Batman! No one has reviewed this course yet - why don't you take the leap?
	<br />
	<br/>
	No seriously, why not?
<% else %>
	<ul>
	<% @course_reviews.each do |course_review| %>
		<% if course_review.recommended.eql? true%>
			<div class="alert alert-success"><%= course_review.review %></div>
		<% else %>
			<div class="alert alert-error"><%= course_review.review %></div>
		<% end %>
	<% end %>
	</ul>
<% end %>
</p>

<% if current_user %>
	<%= link_to 'Submit a Course Review', new_course_review_path(:course_id => @course.id, :user_id => current_user.id), :class => "btn btn-primary" %>
<% elsif %>
	<%= link_to 'Submit a Course Review', '/sign-up', :class => 'btn btn-primary' %>
<% end %>

<!--Show Tweets-->
<% unless @tweets.eql? [] %>
<div class="top-space tweets">
	<h2><small>People talking about this course:</small></h2>
<% @tweets.each do |tweet| %>
	<%= link_to image_tag("http://api.twitter.com/1/users/profile_image/#{tweet.from_user}.mini", :size => "48x48", :title => tweet.tweet_text), "http://www.twitter.com/#{tweet.from_user}/status/#{tweet.tweet_id}", :target => "_blank" %>
<% end %>
</div>
<% end %>
<!--Show Tweets-->

<div class="form-actions">
  <%= link_to 'Back', courses_path, :class => 'btn'  %>
	<% if @course.user == current_user %>
  <%= link_to 'Edit', edit_course_path(@course), :class => 'btn' %>
  <%= link_to 'Delete', course_path(@course), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
	<% end %>
</div>
<script>
	    $(".tweets img[title]").tooltip();
</script>
