<br />
<%= form_for @review, :html => { :class => 'form-vertical' } do |f| %>
	<% if @review.errors.any? %>
		<div class="alert">
			<h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

			<ul>
				<% @review.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

  <fieldset>
    <legend><%= controller.action_name.capitalize %> Review</legend>

	<div class="control-group">
		<%= f.label :course_recommended, "Would you recommend this #{@review_type}?", :class => 'control-label' %>
		<div class="controls">
			<%= f.select :course_recommended, {"Yes" => true, "No" => false} %><br />
		</div>
	</div>
	<br />

    <div class="control-group">
	    <%= f.label "#{@review_type_label}", :class => 'control-label' %>
      <div class="controls">
	      <%= f.text_area :course_review, :class => 'text_area span7', :placeholder => "Feel free to include WHY you liked or disliked this #{@review_type} and WHAT you've learned. You can also include a link to any projects this #{@review_type} helped you create/ complete.", :rows => 12 %>
      </div>
    </div>

	<input type="hidden" name="user_id" value="<%= current_user.id %>" />
	<input type="hidden" name="<%= @review_type%>_id" value="<%= @id %>" />
	<input type="hidden" name="review_type" value="<%= @review_type %>" />

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', reviews_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
