<!DOCTYPE html>
<html>
	<head>
		<title>Coursebacon</title>
		<!--[if lt IE 9]>
		    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
		      <![endif]-->
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">


		 <!--GA is below-->
		 <script type="text/javascript">

			 var _gaq = _gaq || [];
			 _gaq.push(['_setAccount', 'UA-30186093-1']);
			 _gaq.push(['_trackPageview']);

			 (function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();

		</script>
		<!--GA is above-->

	 </head>
		 <div class="navbar navbar-fixed-top">
			 <div class="navbar-inner">
				 <div class="container">
						 <div id="logo" class="nav-collapse">
							 <%= link_to image_tag("coursebacon-logo.png"), "/" %>
						 </div>
					 <ul class="nav pull-right">
						 <li><%= link_to "Home", :controller => "courses"%></li>
						 <% if current_user %>
							 <li><%= link_to "Dashboard", "/dashboard" %></li>
							 <li><%= link_to "Sign Out", signout_path %></li>
						 <% else %>
							 <li><%= link_to "Sign In", "/sign-up" %></li>
						 <% end %>
					 </ul>
				 </div>
			 </div>
		 </div>
	 <body>


		 <!--Validation is below-->
		 <div class="validation span12">
			 <div class"row-fluid">
					 <% flash.each do |key, value|%>
				 <div class="alert">
						 <div id="flash_<%= key %>">
							 <%= value %>
						 </div>
				 </div>
					 <% end %>
			 </div>
		 </div>
		 <!--Validation is above-->

		 <div class="container-fluid">
			 <div class"row-fluid">
				 <div class="span10">

					 <%= yield %>

				 </div>

				 <div class="span2">
					 <h2>About</h2>
					 <p>
						CourseBacon's aim is to help you find the best online courses. Join the community and add, rate and comment on any course you have already completed.
					 </p>
					 <% if current_user %>
						 <%= link_to 'Submit a Course', new_course_path, :class => 'btn btn-primary' %>
					 <% elsif %>
						 <%= link_to 'Sign Up to Submit a Course', '/sign-up', :class => 'btn btn-primary' %>
					 <% end %>

				 </div>
			 </div>
		 </div>
	 </body>
 </html>
